@model FinalProject.Models.EI

@{
    ViewBag.Title = "TestView";
}

<h2>Emotional Intelligence Test</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div><h4>I can stay calm under pressure.</h4></div>
        <div class="form-group">
            <div class="col-md-10" style="color:black">
                @{var listItems = new List<SelectListItem>
                    ()
                {
                new SelectListItem {Text = "", Value = "0" },
                new SelectListItem {Text = "Strongly Disagree",   Value = "1"},
                new SelectListItem {Text = "Disagree", Value = "2"},
                new SelectListItem {Text = "Neither", Value = "3"},
                new SelectListItem {Text = "Agree", Value = "4"},
                new SelectListItem {Text = "Strongly Agree", Value = "5" }
                };

                    @Html.DropDownListFor(model => model.Q1, listItems)
                }
            </div>
        </div>
        <div><h4>I consider myself a postitive person.</h4></div>
        <div class="form-group">
            <div class="col-md-10" style="color:black">
                @{var listItems2 = new List<SelectListItem>
                    ()
                {
                new SelectListItem {Text = "", Value = "0" },
                new SelectListItem {Text = "Strongly Disagree",   Value = "1"},
                new SelectListItem {Text = "Disagree", Value = "2"},
                new SelectListItem {Text = "Neither", Value = "3"},
                new SelectListItem {Text = "Agree", Value = "4"},
                new SelectListItem {Text = "Strongly Agree", Value = "5" }
                };

                    @Html.DropDownListFor(model => model.Q2, listItems2)
                }
            </div>
        </div>

        <div><h4>I maintain a sense of humor.</h4></div>
        <div class="form-group">
            <div class="col-md-10" style="color:black">
                @{var listItems3 = new List<SelectListItem>
                    ()
                {
                new SelectListItem {Text = "", Value = "0" },
                new SelectListItem {Text = "Strongly Disagree",   Value = "1"},
                new SelectListItem {Text = "Disagree", Value = "2"},
                new SelectListItem {Text = "Neither", Value = "3"},
                new SelectListItem {Text = "Agree", Value = "4"},
                new SelectListItem {Text = "Strongly Agree", Value = "5" }
                };

                    @Html.DropDownListFor(model => model.Q3, listItems3)
                }
            </div>
        </div>

        <div><h4>I can admit when I make a mistake.</h4></div>
        <div class="form-group">
            <div class="col-md-10" style="color:black">
                @{var listItems4 = new List<SelectListItem>
                    ()
                {
                new SelectListItem {Text = "", Value = "0" },
                new SelectListItem {Text = "Strongly Disagree",   Value = "1"},
                new SelectListItem {Text = "Disagree", Value = "2"},
                new SelectListItem {Text = "Neither", Value = "3"},
                new SelectListItem {Text = "Agree", Value = "4"},
                new SelectListItem {Text = "Strongly Agree", Value = "5" }
                };

                    @Html.DropDownListFor(model => model.Q4, listItems4)
                }
            </div>
        </div>

        <div><h4>I handle setbacks effectively.</h4></div>
        <div class="form-group">
            <div class="col-md-10" style="color:black">
                @{var listItems5 = new List<SelectListItem>
                    ()
                {
                new SelectListItem {Text = "", Value = "0" },
                new SelectListItem {Text = "Strongly Disagree",   Value = "1"},
                new SelectListItem {Text = "Disagree", Value = "2"},
                new SelectListItem {Text = "Neither", Value = "3"},
                new SelectListItem {Text = "Agree", Value = "4"},
                new SelectListItem {Text = "Strongly Agree", Value = "5" }
                };

                    @Html.DropDownListFor(model => model.Q5, listItems5)
                }
            </div>
        </div>










        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-warning btn-lg disabled" />
            </div>
        </div>
    </div>
                    }


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
