
@model IEnumerable<FinalProject.Models.JobSeeker>
    

@{
    ViewBag.Title = "List";

}

<h2>
    <img src="~/Images/Job_Seekers_Premium.png" height="150"/>
</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table table-hover table-striped" style="margin-top:20px">
    <tr>

        <th>
            @Html.ActionLink("Name", "List", new { sortOrder = ViewBag.NameSortParm })
        </th>

        <th style="text-align:center">
            @Html.ActionLink("City", "List", new { sortOrder = ViewBag.CitySortParm })
        </th>
        <th>
            @Html.ActionLink("State", "List", new { sortOrder = ViewBag.StateSortParm })
        </th>
        <th>
            @Html.ActionLink("Zip Code", "List", new { sortOrder = ViewBag.ZipCodeSortParm })
        </th>

        <th>
            @Html.ActionLink("Aptitude Score", "List", new { sortOrder = ViewBag.TestASortParm })
        </th>

        <th>
            @Html.ActionLink("Personality Type", "List", new { sortOrder = ViewBag.TestBSortParm })
        </th>

        <th>
            @Html.ActionLink("Emotional Intelligence", "List", new { sortOrder = ViewBag.TestCSortParm })
        </th>
        <th style="text-align:center">
            <u>Information</u>
        </th>
        <th style="text-align:center">
            <u> Email</u>
        </th>

        <th style="background-color:#2B3E50"></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td style="text-align:center; vertical-align: middle">
            @Html.DisplayFor(modelItem => item.Name)
        </td>

        <td style="text-align:center; vertical-align: middle">
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td style="text-align:center; vertical-align: middle">
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td style="text-align:center; vertical-align: middle">
            @Html.DisplayFor(modelItem => item.ZipCode)
        </td>

        <td style="text-align:center; vertical-align: middle">
            @Html.DisplayFor(modelItem => item.Survey1Score)
        </td>

        <td style="text-align:center; vertical-align: middle">
            @Html.DisplayFor(modelItem => item.Survey2Score)
        </td>

        <td style="text-align:center; vertical-align: middle">
            @Html.DisplayFor(modelItem => item.Survey3Score)
        </td>
        <td style="text-align:center; vertical-align: middle">
            @Html.DisplayFor(modelItem => item.Info)
        </td>
        <td style="text-align:center; vertical-align: middle">
            @Html.DisplayFor(modelItem => item.Email)
        </td>

        <td style="background-color:#2B3E50 ">
            @Html.ActionLink("View Profile", "Details", new { id = item.ID }, new { @class = "btn btn-info" })
        </td>
        <td style="background-color:#2B3E50 ">
            @Html.ActionLink("Contact", "Contact", new { id = item.ID }, new { @class = "btn btn-success" })
        </td>
    </tr>
}

</table>
