@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Home Page";
}
@{

    FinalProject.Models.ApplicationDbContext db = new FinalProject.Models.ApplicationDbContext();
    string UserID = User.Identity.GetUserId();
    int UserRole = db.Users.Where(x => x.Id == UserID).Select(x => x.Role).FirstOrDefault();
    var user = db.Employer.Where(x => x.UserId == UserID).Select(x => x).FirstOrDefault();
    var UploadedResume = db.JobSeeker.Where(x => x.UserId == UserID).Select(x => x.UploadedResume).FirstOrDefault();
    var TestA = db.JobSeeker.Where(x => x.UserId == UserID).Select(x => x.Survey1Complete).FirstOrDefault();
    var TestB = db.JobSeeker.Where(x => x.UserId == UserID).Select(x => x.Survey2Complete).FirstOrDefault();
    var TestC = db.JobSeeker.Where(x => x.UserId == UserID).Select(x => x.Survey3Complete).FirstOrDefault();
    var Info = db.JobSeeker.Where(x => x.UserId == UserID).Select(x => x.Info).FirstOrDefault();
    bool Subscription = false;
    if (UserRole == 2)
    {
        Subscription = user.isSubscribed;
    }


<div class="jumbotron">
    
    <img src="~/Images/js.jpg" style="width:100%; height:100%; border-radius:4px" />
    
    
    
</div>


if (User.Identity.GetUserId() == null)
{
    <div class="row">
        <div class="col-md-4">
            <h2><img src="~/Images/Job_Seekers_words_363x65 copy.png" height="40"/></h2>
            <p>
                Register today and take the first step on your path to becoming a person with a job.
            </p>

            @*<p>
                @Html.ActionLink("Register", "Register", "Account", "", new { @class = "btn btn-success" })

            </p>*@
        </div>
        <div class="col-md-4">
            <h2><img src="~/Images/Employers_word_363x65.png" height="50" /></h2>
            <p>Register today to find your next great employee. Subscribe to our premium service in order to make that process even easier. Choose "Employer" during the registration process. </p>
            @*<p>
                @Html.ActionLink("Register", "Register", "Account", "", new { @class = "btn btn-success" })

            </p>*@
        </div>
        <div class="col-md-4">
            <h2><img src="~/Images/Job_Seekers_Premium_363x65.png" width="434" /></h2>
            <p>For employers we also offer a premium service that will help you to find the perfect employee for the position you are trying to fill. This will allow you to directly contact jobseekers and sort them by criteria determined by you! Register for free and return to this page to sign up.</p>
            
        </div>
    </div>
    }
    if (UserRole == 1)
    {

        <div class="row">
            <div class="col-md-4">
                @if (UploadedResume == false)
                {
                    <h2>Upload your Resume</h2>
                                    <p >
                                       
                                        @Html.ActionLink("Upload", "Upload", "", new { @class = "btn btn-success btn-lg " })
                                    </p>
                }
                else if (UploadedResume == true)
                {
                    <h2>Resume: Uploaded <span class="glyphicon glyphicon-ok"></span></h2>
                }
            </div>
            <div class="col-md-4">
                @if (Info == null)
                {
                    <h2>Update your Profile</h2>
                    <p>
                        Click on "MyProfile" and then "Edit" to give a brief introduction to employers under the "Info" section.
                    </p>
                }
                else
                {
                    <h2>Profile: Updated <span class="glyphicon glyphicon-ok"></span></h2>
                }
            </div>
            <div class="col-md-4">
                @if(TestA == true && TestB == true && TestC == true)
                {
                    <h2>Tests: Completed <span class="glyphicon glyphicon-ok"></span></h2>
                }
                else
                {
                    <h2>Take the Tests</h2>
                    <p>
                        On your profile page, take the three tests provided to let an employer know what jobs are best-suited for you.
                    </p>
                }
            </div>
        </div>
        <div class="progress">
            @if (UploadedResume == true)
            {
                <div class="progress-bar progress-bar-info" style="width: 33.3%"></div>
            }
            else
            {
                <div class="progress-bar progress-bar-info" style="width: 0%"></div>
            }
            @if (Info == null)
            {
                <div class="progress-bar progress-bar-info" style="width: 0%"></div>
            }
            else if(Info != null)
            {
                <div class="progress-bar progress-bar-info" style="width: 33.3%"></div>
            }
            @if (TestA == true && TestB == true && TestC == true)
            {
                <div class="progress-bar progress-bar-info" style="width: 33.3%"></div>
            }
            else
            {
                <div class="progress-bar progress-bar-info" style="width: 0%"></div>
            }

        </div>
    }
    if (UserRole == 2 && Subscription == false)
    {
            <div class="row">
                <div class="col-md-4">
                    <h2><span class="glyphicon glyphicon-star-empty"></span> Upgrade to Premium <span class="glyphicon glyphicon-star-empty"></span></h2>
                    <p style="width:324px">
                        For more information about our premium service, click "Go Premium".
                    </p>

                </div>
                <div class="col-md-4">
                   <br /><br /><br />

                    @Html.ActionLink("Go Premium", "Premium", "", new {@class = "btn btn-danger"} )



                </div>
            </div>
            }
        }
                @*<div class="row">
                            <div class="col-md-4">
                                <h2>Jobseekers!</h2>
                                <p>
                                    Register today and take the first step on your path to becoming a person with a job.
                                </p>

                                <p>
                                    @Html.ActionLink("Register", "Register", "Account", "", new { @class = "btn btn-info" })



    <div class="progress">
      <div class="progress-bar progress-bar-success" style="width: 33.3%"></div>
      <div class="progress-bar progress-bar-warning" style="width: 33.3%"></div>
      <div class="progress-bar progress-bar-danger" style="width: 33.3%"></div>
    </div>


                                </p>
                            </div>
                            <div class="col-md-4">
                                <h2>Employers!</h2>
                                <p>Register today to find your next great employee. Subscribe to our premium service in order to make that process even easier. Choose "Employer" during the registration process. </p>
                                <p>
                                    @Html.ActionLink("Register", "Register", "Account", "", new { @class = "btn btn-info" })

                                </p>
                            </div>
                            <div class="col-md-4">
                                <h2>Premium</h2>
                                <p>We offer a premium service that will help you to find the perfect employee for the position you are trying to fill. This allows you to contact jobseekers and sort them by criteria determined by you! </p>
                                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
                            </div>
                        </div>*@
