@using Microsoft.AspNet.Identity;
@model IEnumerable<FinalProject.Models.Job>

@{
    ViewBag.Title = "Index";
    FinalProject.Models.ApplicationDbContext db = new FinalProject.Models.ApplicationDbContext();
    string UserID = User.Identity.GetUserId();
    int UserRole = db.Users.Where(x => x.Id == UserID).Select(x => x.Role).FirstOrDefault();
}
@if (UserRole == 1)
{
    <h2>Available Jobs</h2>
}
else if (UserRole == 2) {
    <h2>My Jobs</h2>
}

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table table-hover" >
    <tr>
        <th style="background-color:#2B3E50">
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th style="background-color:#2B3E50">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th style="background-color:#2B3E50">
            @Html.DisplayNameFor(model => model.Company)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.TestAScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestBScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestCScore)
        </th>*@
        <th style="background-color:#2B3E50"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="vertical-align:middle">
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td style="vertical-align:middle">
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td style="vertical-align:middle">
            @Html.DisplayFor(modelItem => item.Company)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.TestAScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TestBScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TestCScore)
        </td>*@
        @if (UserRole == 1)
        {
            <td style="background-color:#2B3E50">
              
          
                @Html.ActionLink("Job Details", "Details", new { id = item.ID }, new { @class = "btn btn-info" })                       @*APPLY*@ 
               
            </td>
        }
        else if (UserRole == 2)
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        }

    </tr>
}

</table>
