@using Microsoft.AspNet.Identity;
<!DOCTYPE html>
@{ 

    FinalProject.Models.ApplicationDbContext db = new FinalProject.Models.ApplicationDbContext();
    string UserID = User.Identity.GetUserId();
    int UserRole = db.Users.Where(x => x.Id == UserID).Select(x => x.Role).FirstOrDefault();
    var user = db.Employer.Where(x => x.UserId == UserID).Select(x => x).FirstOrDefault();
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Jobseekers", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <a href="@Url.Action("Index", "Home")">
                    <img src="@Url.Content("~/Images/120x40_green.jpg")" height="40" width="120" />
                </a>
                
                @*<img src="~/Images/120x40_green.jpg" height="40" width="120"/>*@

            </div>

            @if (UserRole == 1  @*jobseeker*@)
            {
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                        <li>@Html.ActionLink("MyProfile", "Details", "JobSeekers")</li>
                        <li>@Html.ActionLink("Jobs", "Index", "Jobs")</li>                    @*Jobs*@
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>

            }
            else if (UserRole == 2 && user.isSubscribed == false  /*employer*/)
            {
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("My Jobs", "Index", "Jobs")</li>                     @*Applicants*@
                        <li>@Html.ActionLink("JobSeekers", "Index", "Jobseekers")</li>
                        <li>@Html.ActionLink("Post a Job", "Create", "Jobs")</li>
                    </ul>
                  @Html.Partial("_LoginPartial")
                </div>
            }
            else if (UserRole == 2 && user.isSubscribed == true)
            {
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("My Jobs", "Index", "Jobs")</li>                    @*Applicants*@                      
                        <li>@Html.ActionLink("Post a Job", "Create", "Jobs")</li>
                        <li>@Html.ActionLink("JobSeekers Premium", "List", "Jobseekers")</li>
                        <li>@Html.ActionLink("Test Information", "TestInfo", "Employers")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            }
            else
            {
                @Html.Partial("_LoginPartial")
            }

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - JobSeekers</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
    